<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
    <!-- header -->

    <title>تعديل الملفات</title>

    <!-- style -->

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/frameWork.css">
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- icons lib -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/503befbdb7.js" crossorigin="anonymous"></script>
</head>


<body>

    <!-- start Navbar -->


    <div class="navbar">
        <% if(user) {%>
            <div class="userData">
                <img class="cover"
                    src="https://ik.imagekit.io/83055nufx/userIcon/<%=user.gender%>Student.png?updatedAt=1751925030845">
                <p class="username">
                    <%= user.username%>
                </p>
                <button onclick="window.location.href='/profile'" class="setting"><svg width="20" height="20"
                        viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.4415 0H10.5585C11.4193 0 12.1836 0.55086 12.4558 1.36754L12.88 2.63999C12.9573 2.87193 13.1169 3.06751 13.3286 3.18976L14.2334 3.7122C14.4451 3.83447 14.6943 3.87492 14.9339 3.8259L16.2479 3.55701C17.0913 3.38443 17.9505 3.77088 18.3809 4.51641L18.9394 5.48373C19.3698 6.22925 19.2749 7.16657 18.7037 7.81067L17.8139 8.8142C17.6516 8.9971 17.5621 9.2332 17.5621 9.4777V10.5224C17.5621 10.7669 17.6517 11.0029 17.8139 11.1859L18.7038 12.1894C19.275 12.8335 19.3699 13.7708 18.9395 14.5163L18.381 15.4837C17.9506 16.2292 17.0914 16.6156 16.248 16.4431L14.934 16.1742C14.6944 16.1251 14.4452 16.1656 14.2335 16.2878L13.3286 16.8102C13.1169 16.9325 12.9573 17.1281 12.88 17.36L12.4558 18.6325C12.1836 19.4491 11.4193 20 10.5585 20H9.4415C8.5806 20 7.81635 19.4491 7.54412 18.6325L7.11999 17.3601C7.04267 17.1281 6.88304 16.9325 6.67128 16.8102L5.76643 16.2879C5.55469 16.1656 5.30551 16.1252 5.06598 16.1742L3.75195 16.4431C2.90856 16.6157 2.04937 16.2293 1.61893 15.4837L1.06045 14.5164C0.630023 13.7709 0.724943 12.8336 1.2961 12.1895L2.18598 11.1859C2.3482 11.003 2.43777 10.767 2.43778 10.5225L2.43779 9.4776C2.43779 9.2331 2.34822 8.9971 2.18599 8.8141L1.29612 7.8106C0.724973 7.1665 0.630053 6.22919 1.06048 5.48366L1.61896 4.51634C2.04939 3.77081 2.90859 3.38436 3.75197 3.55695L5.06598 3.82584C5.30552 3.87486 5.55472 3.83442 5.76646 3.71217L6.6713 3.18976C6.88305 3.06751 7.04267 2.87192 7.11999 2.63996L7.54412 1.36754C7.81635 0.55086 8.5806 0 9.4415 0ZM10 13.5C11.933 13.5 13.5 11.933 13.5 10C13.5 8.067 11.933 6.5 10 6.5C8.067 6.5 6.5 8.067 6.5 10C6.5 11.933 8.067 13.5 10 13.5Z"
                            fill="whitesmoke" />
                    </svg>
                </button>
            </div>
            <% } else{%>

                <button onclick="window.location.href='/login'" class="notLoggedBtn">
                    تسجيل الدخول
                </button>

                <% } %>
                    <img src="media/midad2.png" class="logos">
                    <button id="action1" onclick="test()"><svg width="30" height="25" viewBox="0 0 30 25" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0 2.08333C0 1.5308 0.225765 1.0009 0.627628 0.610195C1.02949 0.219494 1.57454 0 2.14286 0H27.8571C28.4255 0 28.9705 0.219494 29.3724 0.610195C29.7742 1.0009 30 1.5308 30 2.08333C30 2.63587 29.7742 3.16577 29.3724 3.55647C28.9705 3.94717 28.4255 4.16667 27.8571 4.16667H2.14286C1.57454 4.16667 1.02949 3.94717 0.627628 3.55647C0.225765 3.16577 0 2.63587 0 2.08333ZM0 12.5C0 11.9475 0.225765 11.4176 0.627628 11.0269C1.02949 10.6362 1.57454 10.4167 2.14286 10.4167H27.8571C28.4255 10.4167 28.9705 10.6362 29.3724 11.0269C29.7742 11.4176 30 11.9475 30 12.5C30 13.0525 29.7742 13.5824 29.3724 13.9731C28.9705 14.3638 28.4255 14.5833 27.8571 14.5833H2.14286C1.57454 14.5833 1.02949 14.3638 0.627628 13.9731C0.225765 13.5824 0 13.0525 0 12.5ZM0 22.9167C0 22.3641 0.225765 21.8342 0.627628 21.4435C1.02949 21.0528 1.57454 20.8333 2.14286 20.8333H27.8571C28.4255 20.8333 28.9705 21.0528 29.3724 21.4435C29.7742 21.8342 30 22.3641 30 22.9167C30 23.4692 29.7742 23.9991 29.3724 24.3898C28.9705 24.7805 28.4255 25 27.8571 25H2.14286C1.57454 25 1.02949 24.7805 0.627628 24.3898C0.225765 23.9991 0 23.4692 0 22.9167Z"
                                fill="#A5A5A8" />
                        </svg>
                    </button>
    </div>

    <div class="sidebar">
        <% if(user) {%>
            <div class="userData-mobile" hidden>
                <img class="cover"
                    src="https://ik.imagekit.io/83055nufx/userIcon/<%=user.gender%>Student.png?updatedAt=1751925030845">
                <p class="username">
                    <%= user.username%>
                </p>
                <button onclick="window.location.href='/profile'" class="setting"><svg width="20" height="20"
                        viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.4415 0H10.5585C11.4193 0 12.1836 0.55086 12.4558 1.36754L12.88 2.63999C12.9573 2.87193 13.1169 3.06751 13.3286 3.18976L14.2334 3.7122C14.4451 3.83447 14.6943 3.87492 14.9339 3.8259L16.2479 3.55701C17.0913 3.38443 17.9505 3.77088 18.3809 4.51641L18.9394 5.48373C19.3698 6.22925 19.2749 7.16657 18.7037 7.81067L17.8139 8.8142C17.6516 8.9971 17.5621 9.2332 17.5621 9.4777V10.5224C17.5621 10.7669 17.6517 11.0029 17.8139 11.1859L18.7038 12.1894C19.275 12.8335 19.3699 13.7708 18.9395 14.5163L18.381 15.4837C17.9506 16.2292 17.0914 16.6156 16.248 16.4431L14.934 16.1742C14.6944 16.1251 14.4452 16.1656 14.2335 16.2878L13.3286 16.8102C13.1169 16.9325 12.9573 17.1281 12.88 17.36L12.4558 18.6325C12.1836 19.4491 11.4193 20 10.5585 20H9.4415C8.5806 20 7.81635 19.4491 7.54412 18.6325L7.11999 17.3601C7.04267 17.1281 6.88304 16.9325 6.67128 16.8102L5.76643 16.2879C5.55469 16.1656 5.30551 16.1252 5.06598 16.1742L3.75195 16.4431C2.90856 16.6157 2.04937 16.2293 1.61893 15.4837L1.06045 14.5164C0.630023 13.7709 0.724943 12.8336 1.2961 12.1895L2.18598 11.1859C2.3482 11.003 2.43777 10.767 2.43778 10.5225L2.43779 9.4776C2.43779 9.2331 2.34822 8.9971 2.18599 8.8141L1.29612 7.8106C0.724973 7.1665 0.630053 6.22919 1.06048 5.48366L1.61896 4.51634C2.04939 3.77081 2.90859 3.38436 3.75197 3.55695L5.06598 3.82584C5.30552 3.87486 5.55472 3.83442 5.76646 3.71217L6.6713 3.18976C6.88305 3.06751 7.04267 2.87192 7.11999 2.63996L7.54412 1.36754C7.81635 0.55086 8.5806 0 9.4415 0ZM10 13.5C11.933 13.5 13.5 11.933 13.5 10C13.5 8.067 11.933 6.5 10 6.5C8.067 6.5 6.5 8.067 6.5 10C6.5 11.933 8.067 13.5 10 13.5Z"
                            fill="whitesmoke" />
                    </svg>
                </button>
            </div>
            <% } else{%>

                <button onclick="window.location.href='/login'" class="notLoggedBtn-mobile" hidden>
                    تسجيل الدخول
                </button>

                <% } %>
                    <div class="contents">
                        <ul class="list-ul">
                            <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.35742 17.1113H15.1724" stroke="#a5a5a8" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M2.67871 14.6886C2.67871 9.05759 3.29271 9.45059 6.59771 6.38559C8.04371 5.22159 10.2937 2.97559 12.2367 2.97559C14.1787 2.97559 16.4737 5.21059 17.9327 6.38559C21.2377 9.45059 21.8507 9.05759 21.8507 14.6886C21.8507 22.9756 19.8917 22.9756 12.2647 22.9756C4.63771 22.9756 2.67871 22.9756 2.67871 14.6886Z"
                                        stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                <a href="/">الرئيسية</a>
                            </li>
                            <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.8743 16.6719H8.6543" stroke="#a5a5a8" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M15.8743 12.9121H8.6543" stroke="#a5a5a8" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M11.4093 9.15234H8.6543" stroke="#a5a5a8" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M3.88867 12.9756C3.88867 19.9126 5.98667 22.2256 12.2797 22.2256C18.5737 22.2256 20.6707 19.9126 20.6707 12.9756C20.6707 6.03859 18.5737 3.72559 12.2797 3.72559C5.98667 3.72559 3.88867 6.03859 3.88867 12.9756Z"
                                        stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>

                                <a href="/library">الكتب الجامعية</a>
                            </li>
                            <li class="activeList3"> <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12.2783 3.72559C5.34132 3.72559 3.02832 6.03859 3.02832 12.9756C3.02832 19.9126 5.34132 22.2256 12.2783 22.2256C19.2153 22.2256 21.5283 19.9126 21.5283 12.9756"
                                        stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M19.8064 5.27922V5.27922C18.8134 4.40022 17.2964 4.49222 16.4174 5.48522C16.4174 5.48522 12.0484 10.4202 10.5334 12.1332C9.01636 13.8452 10.1284 16.2102 10.1284 16.2102C10.1284 16.2102 12.6324 17.0032 14.1264 15.3152C15.6214 13.6272 20.0124 8.66822 20.0124 8.66822C20.8914 7.67522 20.7984 6.15822 19.8064 5.27922Z"
                                        stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M15.2871 6.77637L18.8821 9.95937" stroke="#a5a5a8" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>

                                <a href="/edit">تعديل الملفات</a>
                            </li>
                            <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.2742 3.49023C7.83993 3.49023 5.91326 7.50547 5.91326 10.1598C5.91326 12.1436 6.20088 11.5598 5.10279 13.9798C3.76184 17.4283 9.15422 18.8379 12.2742 18.8379C15.3933 18.8379 20.7856 17.4283 19.4456 13.9798C18.3475 11.5598 18.6352 12.1436 18.6352 10.1598C18.6352 7.50547 16.7075 3.49023 12.2742 3.49023Z"
                                        stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M14.5839 21.4883C13.2896 22.934 11.2705 22.9511 9.96387 21.4883"
                                        stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                <a href="/notifications">إشعارات هامة</a>
                            </li>
                            <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.2486 3.47559C5.86156 3.47559 4.78256 4.40759 4.78256 11.9046C4.78256 20.2976 4.62556 22.4756 6.22156 22.4756C7.81656 22.4756 10.4216 18.7916 12.2486 18.7916C14.0756 18.7916 16.6806 22.4756 18.2756 22.4756C19.8716 22.4756 19.7146 20.2976 19.7146 11.9046C19.7146 4.40759 18.6356 3.47559 12.2486 3.47559Z"
                                        stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>

                                <a href="/bookMarks">قائمة المرجعيات</a>
                            </li>
                            <li><svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M11.7714 13.4136C11.7714 13.4136 -0.205275 10.936 3.95667 8.53341C7.46882 6.50611 19.5728 3.02056 21.2638 3.92116C22.1644 5.61216 18.6788 17.7161 16.6515 21.2283C14.249 25.3902 11.7714 13.4136 11.7714 13.4136Z"
                                        stroke="#a5a5a8" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M11.7715 13.4133L21.2639 3.9209" stroke="#a5a5a8" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <a href="/contact">تواصل</a>
                            </li>

                            <div class="footer-wright">
                                <p class="right">© | Enigma - 2025</p>
                            </div>
                        </ul>
                    </div>

    </div>


    <!-- End navbar -->

    <div class="block" onclick="hideblock()"></div>

    <div class="path">
        <h5><a href="/">الرئيسية</a> </h5>
        <h5> / </h5>
        <h5> تعديل الملفات</h5>
    </div>

    <div class="toolList rtl">
        <div class="toolItem avaliable" onclick="window.location.href='/pdfs-merge'">
            <p class="status-available">متاح</p>
            <p class="version">V 1.3</p>
            <div class="headerOfTool">
                <svg width="45" height="60" viewBox="0 0 45 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_63_2237)">
                        <path
                            d="M0 8C0 3.58172 3.58172 0 8 0H25.5L45 19.5V52C45 56.4183 41.4183 60 37 60H8C3.58172 60 0 56.4183 0 52V8Z"
                            fill="#FF1607"
                            style="fill:#FF1607;fill:color(display-p3 1.0000 0.0867 0.0284);fill-opacity:1;" />
                        <path d="M31.5 19.5H45L25.5 0V13.5C25.5 16.8137 28.1863 19.5 31.5 19.5Z" fill="white"
                            fill-opacity="0.5" style="fill:white;fill-opacity:0.5;" />
                    </g>
                    <path
                        d="M5.56459 55V40.4545H11.3032C12.4065 40.4545 13.3463 40.6652 14.1228 41.0866C14.8993 41.5033 15.4912 42.0833 15.8984 42.8267C16.3103 43.5653 16.5163 44.4176 16.5163 45.3835C16.5163 46.3494 16.308 47.2017 15.8913 47.9403C15.4746 48.679 14.8709 49.2543 14.0802 49.6662C13.2942 50.0781 12.3425 50.2841 11.2251 50.2841H7.56744V47.8196H10.7279C11.3198 47.8196 11.8075 47.7178 12.191 47.5142C12.5793 47.3059 12.8681 47.0194 13.0575 46.6548C13.2516 46.2855 13.3487 45.8617 13.3487 45.3835C13.3487 44.9006 13.2516 44.4792 13.0575 44.1193C12.8681 43.7547 12.5793 43.473 12.191 43.2741C11.8028 43.0705 11.3103 42.9688 10.7137 42.9688H8.63988V55H5.56459ZM23.2701 55H18.1138V40.4545H23.3127C24.7757 40.4545 26.0352 40.7457 27.0911 41.3281C28.147 41.9058 28.959 42.7367 29.5272 43.821C30.1001 44.9053 30.3865 46.2027 30.3865 47.7131C30.3865 49.2282 30.1001 50.5303 29.5272 51.6193C28.959 52.7083 28.1422 53.544 27.0769 54.1264C26.0163 54.7088 24.7473 55 23.2701 55ZM21.1891 52.3651H23.1422C24.0513 52.3651 24.816 52.2041 25.4363 51.8821C26.0613 51.5554 26.53 51.0511 26.8425 50.3693C27.1597 49.6828 27.3184 48.7973 27.3184 47.7131C27.3184 46.6383 27.1597 45.7599 26.8425 45.0781C26.53 44.3963 26.0636 43.8944 25.4434 43.5724C24.8231 43.2505 24.0584 43.0895 23.1493 43.0895H21.1891V52.3651ZM32.2646 55V40.4545H41.8953V42.9901H35.3399V46.456H41.2561V48.9915H35.3399V55H32.2646Z"
                        fill="white" style="fill:white;fill-opacity:1;" />
                    <defs>
                        <clipPath id="clip0_63_2237">
                            <rect width="45" height="60" fill="white" style="fill:white;fill-opacity:1;" />
                        </clipPath>
                    </defs>
                </svg>

                دمج ملفات PDF
            </div>
            <p class="description-tool">وضع عدة ملفات PDF داخل ملف واحد</p>
        </div>

        <div class="toolItem avaliable" onclick="window.location.href='/images-to-pdf'">
            <p class="status-available ">متاح</p>
            <p class="version">V 1.0</p>
            <div class="headerOfTool"><svg width="54" height="60" viewBox="0 0 54 60" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_62_1239)">
                        <path
                            d="M16.5715 1.5H34.2004L52.0715 19.3711V52C52.0715 55.5899 49.1614 58.5 45.5715 58.5H16.5715C12.9817 58.5 10.0715 55.5899 10.0715 52V8C10.0715 4.41015 12.9817 1.5 16.5715 1.5Z"
                            stroke="#C8D2E1"
                            style="stroke:#C8D2E1;stroke:color(display-p3 0.7836 0.8231 0.8824);stroke-opacity:1;"
                            stroke-width="3" />
                        <path d="M34.3145 1.5V13.5C34.3145 16.8137 37.0007 19.5 40.3145 19.5H52.4859" stroke="#C8D2E1"
                            style="stroke:#C8D2E1;stroke:color(display-p3 0.7836 0.8231 0.8824);stroke-opacity:1;"
                            stroke-width="3" stroke-linecap="round" />
                    </g>
                    <rect y="27" width="43" height="21" rx="3" fill="#3873FF"
                        style="fill:#3873FF;fill:color(display-p3 0.2196 0.4510 1.0000);fill-opacity:1;" />
                    <path
                        d="M10.7772 31.5909H13.057V39.1974C13.057 39.9006 12.899 40.5114 12.5829 41.0298C12.2704 41.5483 11.8354 41.9478 11.2779 42.2283C10.7204 42.5089 10.0723 42.6491 9.33365 42.6491C8.67669 42.6491 8.0801 42.5337 7.54387 42.3029C7.0112 42.0685 6.58862 41.7134 6.27612 41.2376C5.96362 40.7582 5.80914 40.1562 5.8127 39.4318H8.10851C8.11561 39.7195 8.1742 39.9663 8.28429 40.1722C8.39792 40.3746 8.5524 40.5309 8.74771 40.641C8.94657 40.7475 9.18095 40.8008 9.45083 40.8008C9.73493 40.8008 9.97463 40.7404 10.1699 40.6197C10.3688 40.4954 10.5197 40.3143 10.6227 40.0763C10.7257 39.8384 10.7772 39.5455 10.7772 39.1974V31.5909ZM14.664 42.5V31.5909H18.968C19.7954 31.5909 20.5003 31.7489 21.0827 32.065C21.665 32.3775 22.1089 32.8125 22.4143 33.37C22.7233 33.924 22.8778 34.5632 22.8778 35.2876C22.8778 36.0121 22.7215 36.6513 22.409 37.2053C22.0965 37.7592 21.6437 38.1907 21.0507 38.4996C20.4612 38.8086 19.7474 38.9631 18.9094 38.9631H16.1661V37.1147H18.5365C18.9804 37.1147 19.3461 37.0384 19.6338 36.8857C19.925 36.7294 20.1416 36.5146 20.2836 36.2411C20.4292 35.9641 20.502 35.6463 20.502 35.2876C20.502 34.9254 20.4292 34.6094 20.2836 34.3395C20.1416 34.0661 19.925 33.8548 19.6338 33.7056C19.3426 33.5529 18.9733 33.4766 18.5258 33.4766H16.9704V42.5H14.664ZM31.3096 35.1172C31.235 34.858 31.1302 34.6289 30.9953 34.43C30.8603 34.2276 30.6952 34.0572 30.4999 33.9187C30.3081 33.7766 30.088 33.6683 29.8394 33.5938C29.5944 33.5192 29.3227 33.4819 29.0244 33.4819C28.4669 33.4819 27.9768 33.6204 27.5542 33.8974C27.1352 34.1744 26.8085 34.5774 26.5741 35.1065C26.3397 35.6321 26.2226 36.2749 26.2226 37.0348C26.2226 37.7947 26.338 38.4411 26.5688 38.9737C26.7996 39.5064 27.1263 39.913 27.5489 40.1935C27.9715 40.4705 28.4704 40.609 29.0457 40.609C29.5677 40.609 30.0134 40.5167 30.3827 40.332C30.7556 40.1438 31.0397 39.8793 31.235 39.5384C31.4338 39.1974 31.5333 38.7944 31.5333 38.3292L32.002 38.3984H29.1895V36.6619H33.7545V38.0362C33.7545 38.995 33.5521 39.8189 33.1473 40.5078C32.7424 41.1932 32.1849 41.7223 31.4747 42.0952C30.7645 42.4645 29.9512 42.6491 29.0351 42.6491C28.0123 42.6491 27.1139 42.4237 26.3397 41.9727C25.5656 41.5181 24.9619 40.8736 24.5287 40.0391C24.099 39.201 23.8841 38.2067 23.8841 37.0561C23.8841 36.1719 24.012 35.3835 24.2676 34.6911C24.5269 33.995 24.8891 33.4055 25.3543 32.9226C25.8195 32.4396 26.361 32.0721 26.9789 31.82C27.5968 31.5678 28.2662 31.4418 28.9871 31.4418C29.605 31.4418 30.1803 31.5323 30.713 31.7134C31.2456 31.891 31.7179 32.1431 32.1299 32.4698C32.5453 32.7965 32.8845 33.1854 33.1473 33.6364C33.4101 34.0838 33.5787 34.5774 33.6533 35.1172H31.3096Z"
                        fill="white" style="fill:white;fill-opacity:1;" />
                    <defs>
                        <clipPath id="clip0_62_1239">
                            <rect width="45.4286" height="60" fill="white" style="fill:white;fill-opacity:1;"
                                transform="translate(8.57153)" />
                        </clipPath>
                    </defs>
                </svg>

                صورة الى PDF</div>
            <p class="description-tool">قم بتحميل صورة بصيغة PNG أو JPEG لتحويلها إلى PDF.</p>
        </div>

        <div class="toolItem">
            <p class="status-unavailable">قيد التطوير</p>
            <div class="headerOfTool"> <svg width="45" height="60" viewBox="0 0 45 60" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_63_2237)">
                        <path
                            d="M0 8C0 3.58172 3.58172 0 8 0H25.5L45 19.5V52C45 56.4183 41.4183 60 37 60H8C3.58172 60 0 56.4183 0 52V8Z"
                            fill="#FF1607"
                            style="fill:#FF1607;fill:color(display-p3 1.0000 0.0867 0.0284);fill-opacity:1;" />
                        <path d="M31.5 19.5H45L25.5 0V13.5C25.5 16.8137 28.1863 19.5 31.5 19.5Z" fill="white"
                            fill-opacity="0.5" style="fill:white;fill-opacity:0.5;" />
                    </g>
                    <path
                        d="M5.56459 55V40.4545H11.3032C12.4065 40.4545 13.3463 40.6652 14.1228 41.0866C14.8993 41.5033 15.4912 42.0833 15.8984 42.8267C16.3103 43.5653 16.5163 44.4176 16.5163 45.3835C16.5163 46.3494 16.308 47.2017 15.8913 47.9403C15.4746 48.679 14.8709 49.2543 14.0802 49.6662C13.2942 50.0781 12.3425 50.2841 11.2251 50.2841H7.56744V47.8196H10.7279C11.3198 47.8196 11.8075 47.7178 12.191 47.5142C12.5793 47.3059 12.8681 47.0194 13.0575 46.6548C13.2516 46.2855 13.3487 45.8617 13.3487 45.3835C13.3487 44.9006 13.2516 44.4792 13.0575 44.1193C12.8681 43.7547 12.5793 43.473 12.191 43.2741C11.8028 43.0705 11.3103 42.9688 10.7137 42.9688H8.63988V55H5.56459ZM23.2701 55H18.1138V40.4545H23.3127C24.7757 40.4545 26.0352 40.7457 27.0911 41.3281C28.147 41.9058 28.959 42.7367 29.5272 43.821C30.1001 44.9053 30.3865 46.2027 30.3865 47.7131C30.3865 49.2282 30.1001 50.5303 29.5272 51.6193C28.959 52.7083 28.1422 53.544 27.0769 54.1264C26.0163 54.7088 24.7473 55 23.2701 55ZM21.1891 52.3651H23.1422C24.0513 52.3651 24.816 52.2041 25.4363 51.8821C26.0613 51.5554 26.53 51.0511 26.8425 50.3693C27.1597 49.6828 27.3184 48.7973 27.3184 47.7131C27.3184 46.6383 27.1597 45.7599 26.8425 45.0781C26.53 44.3963 26.0636 43.8944 25.4434 43.5724C24.8231 43.2505 24.0584 43.0895 23.1493 43.0895H21.1891V52.3651ZM32.2646 55V40.4545H41.8953V42.9901H35.3399V46.456H41.2561V48.9915H35.3399V55H32.2646Z"
                        fill="white" style="fill:white;fill-opacity:1;" />
                    <defs>
                        <clipPath id="clip0_63_2237">
                            <rect width="45" height="60" fill="white" style="fill:white;fill-opacity:1;" />
                        </clipPath>
                    </defs>
                </svg>


                تعديل PDF</div>
            <p class="description-tool">تعديل وإنشاء ملفات PDF بسهولة وبسرعة فائقة</p>
        </div>

        <div class="toolItem">
            <p class="status-unavailable">قيد التطوير</p>
            <div class="headerOfTool"><svg width="60" height="60" viewBox="0 0 60 60" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2001_2965)">
                        <path
                            d="M48.9996 11.9358V56C48.9996 58.2091 47.2087 60 44.9996 60H14C11.7909 60 10 58.2091 10 56V4C10 1.79086 11.7909 0 14 0H37.7375L48.9996 11.9358Z"
                            fill="url(#paint0_linear_2001_2965)" />
                        <g filter="url(#filter0_d_2001_2965)">
                            <path d="M49 11.9358H38.738C38.1857 11.9358 37.738 11.4881 37.738 10.9358V0L49 11.9358Z"
                                fill="#E0EAFF" />
                        </g>
                    </g>
                    <defs>
                        <filter id="filter0_d_2001_2965" x="34.738" y="-1" width="15.262" height="15.9358"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dx="-1" dy="1" />
                            <feGaussianBlur stdDeviation="1" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2001_2965" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2001_2965"
                                result="shape" />
                        </filter>
                        <linearGradient id="paint0_linear_2001_2965" x1="69.1497" y1="-35.25" x2="-26.6156" y2="74.5191"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#EEF4FF" />
                            <stop offset="0.265" stop-color="#A4BCFD" />
                            <stop offset="0.90788" stop-color="#444CE7" />
                        </linearGradient>
                        <clipPath id="clip0_2001_2965">
                            <rect width="60" height="60" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

                ضغط حجم الملفات</div>
            <p class="description-tool">تقليل حجم الصور والملفات بنسبة كبيرة وجودة أفضل</p>
        </div>

</body>


</html>